@media (max-width: 767px) {
    .modal-dialog {
        margin-top: 70px;
    }
}

.modal-content {
    .modal-header{
        background-color: #65bd77;
        .close {
            color: #fff;
            opacity: 1;
            &:hover {
                color: #717171;
                text-shadow: none;
            }
        }
        h4 {
            color: #fff;
            text-align: center;
        }
    }
}